<% @title = "Your inventory" %>
<form id="new_note_form" action="/notes.json" method="post">
  <input id="note_owned" type="hidden" name="note[owned]" value="1" />
  <input id="item_id" type="hidden" name="note[item_id]" value="" />
  <table id="owned_items">
    <thead>
      <tr>
        <th>Item</th>
        <th>Type</th>
        <th>Rank</th>
        <th>Note</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input id="item_name" type="text" name="note[item_attributes][name]" /></td>
        <td>
          <select id="item_category_id" name="note[item_attributes][category_id]">
            <option></option>
            <%- @categories.each do |category| -%>
              <option value="<%= category.id %>"><%= category.name %></option>
            <%- end -%>
          </select>
        </td>
        <td><input id="item_optimal_rank" type="text" name="note[item_attributes][optimal_rank]" maxlength="2" size="2" /></td>
        <td><input id="note_note" type="text" name="note[note]" /></td>
        <td></td>
      </tr>
      <% @owned_items.each_with_index do |item, i| %>
        <%- note = item.notes.first -%>
        <%- price = item.prices.first -%>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.category.name %></td>
          <td><%= item.optimal_rank %></td>
          <td><%= note ? note.note : "" %></td>
          <td><%= price ? price.value : "" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</form>

<script type="text/javascript">
  $(function() {
    $('#new_note_form').submit(function(e) {
      var f = $(this);
      $.post(f.attr('action'), f.serialize(), function(data, textStatus, jqXHR) {
        if ('note' in data) {
          var note = data['note'];
          $('#owned_items tbody').append('<tr><td>'+note.item+'</td><td>'+note.category+'</td><td>'+note.rank+'</td><td>'+note.note+'</td></tr>');
          f.find('input:not(#item_owned), select').val('');
          $('#item_name').focus();
        }
      }, 'json');
      e.preventDefault();
    }).bind('keypress', function(e) {
      if (e.keyCode == 13) {
        $(this).submit();
      }
    });

    $('#item_name').autocomplete({
      source: '/items.json',
      minLength: 2,
      select: function(e, ui) {
        var item = ui.item;
        $('#item_id').val(item.id);
        $('#item_category_id').val(item.category_id).attr('disabled', true);
        $('#item_optimal_rank').val(item.rank).attr('disabled', true);
        $('#note_note').val(item.note).focus();
      }
    });
  });
</script>
